.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 17em;
  background-color: hsl(51, 62%, 46%);
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  color: #ffffff;
  margin-top: 5em; /* Add a top margin to avoid content overlay */
}

.main-header h2 {
  font-weight: 300;
}

h2 b {
  font-weight: 600;
}

#animation {
  animation: translate 2s infinite;
}

@keyframes translate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
