nav {
  display: flex;
  height: 120px;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  justify-content: space-between;
}

#label {
  font-size: 32px;
  align-self: flex-end;
  font-family: "Bungee", cursive;
}

#new-tweet {
  font-size: 22px;
  align-self: center;
}
