.tweet-container article {
  display: flex;
  flex-direction: column;
  border: 0.2em solid #545149;
  height: fit-content;
  margin-bottom: 2em;
}
.tweet-container article:hover {
  box-shadow: 0.5em 0.5em #cccccc;
}
.tweet-container article:hover #handle {
  visibility: visible;
}

.tweet-container header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.tweet-container header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweet-container img {
  padding-right: 1em;
}

.tweet-container footer {
  display: flex;
  max-width: 90%;
  position: relative;
  left: 5%;
  justify-content: space-between;
}

.tweet-container footer p {
  font-size: 0.8em;
}

#handle {
  color: #cccccc;
  visibility: hidden;
  font-weight: 600;
}

#tweet-display {
  display: flex;
  max-width: 95%;
  position: relative;
  left: 2.5%;
  border-bottom: 0.15em solid #545149;
  word-break: break-all;
}

#tweet-images {
  color: #4056a1;
}

#tweet-images i {
  padding: 5px;
}
